In [4]:
from azureml.opendatasets import PublicHolidays

from datetime import datetime
from dateutil import parser
from dateutil.relativedelta import relativedelta

In [5]:
today = datetime.today()

last_year = today - relativedelta(months = 12)

In [6]:
today, last_year

(datetime.datetime(2024, 8, 23, 15, 45, 0, 608406),
 datetime.datetime(2023, 8, 23, 15, 45, 0, 608406))

In [7]:
hol = PublicHolidays(start_date=last_year, end_date = today)

In [8]:
hol_df = hol.to_pandas_dataframe()

{'infer_column_types': 'False', 'activity': 'download'}
{'infer_column_types': 'False', 'activity': 'download', 'activityApp': 'FileDataset'}
[Info] read from /tmp/tmp33v8zusr/https%3A/%2Fazureopendatastorage.azurefd.net/holidaydatacontainer/Processed/part-00000-tid-8468414522853579044-35925ba8-a227-4b80-9c89-17065e7bf1db-649-c000.snappy.parquet

In [10]:
hol_df.describe()

/tmp/ipykernel_219115/4037369736.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  hol_df.describe()

,countryOrRegion,holidayName,normalizeHolidayName,isPaidTimeOff,countryRegionCode,date
count,543,543,543,30,507,543
unique,38,349,335,2,34,164
top,Sweden,Søndag,Søndag,True,SE,2023-12-25 00:00:00
freq,64,50,50,19,64,37
first,NaN,NaN,NaN,NaN,NaN,2023-08-24 00:00:00
last,NaN,NaN,NaN,NaN,NaN,2024-08-20 00:00:00

In [11]:
hol_df.head(10)

,countryOrRegion,holidayName,normalizeHolidayName,isPaidTimeOff,countryRegionCode,date
27994,Ukraine,День незалежності України,День незалежності України,None,UA,2023-08-24
27995,Norway,Søndag,Søndag,None,NO,2023-08-27
27996,Sweden,Söndag,Söndag,None,SE,2023-08-27
27997,England,Late Summer Bank Holiday,Late Summer Bank Holiday,None,None,2023-08-28
27998,Isle of Man,Late Summer Bank Holiday,Late Summer Bank Holiday,None,IM,2023-08-28
27999,Northern Ireland,Late Summer Bank Holiday,Late Summer Bank Holiday,None,None,2023-08-28
28000,United Kingdom,"Late Summer Bank Holiday [England, Wales, Nort...",Late Summer Bank Holiday,True,GB,2023-08-28
28001,Wales,Late Summer Bank Holiday,Late Summer Bank Holiday,None,None,2023-08-28
28002,Norway,Søndag,Søndag,None,NO,2023-09-03
28003,Sweden,Söndag,Söndag,None,SE,2023-09-03

### Diabetes dataset

Ten baseline variables: age, sex, body mass index, average blood pressure and six blood serum measurements were obtained for each of n = 442 diabetes patients, as well as the response of interest, a quantitative measure of disease progression one year after baseline.

In [12]:
from azureml.opendatasets import Diabetes

diabetes = Diabetes.get_tabular_dataset()
diabetes_df = diabetes.to_pandas_dataframe()


diabetes_df.head(10)

{'infer_column_types': 'False', 'activity': 'to_pandas_dataframe'}
{'infer_column_types': 'False', 'activity': 'to_pandas_dataframe', 'activityApp': 'TabularDataset'}

   AGE  SEX   BMI     BP   S1     S2    S3    S4      S5  S6    Y
0   59    2  32.1  101.0  157   93.2  38.0  4.00  4.8598  87  151
1   48    1  21.6   87.0  183  103.2  70.0  3.00  3.8918  69   75
2   72    2  30.5   93.0  156   93.6  41.0  4.00  4.6728  85  141
3   24    1  25.3   84.0  198  131.4  40.0  5.00  4.8903  89  206
4   50    1  23.0  101.0  192  125.4  52.0  4.00  4.2905  80  135
5   23    1  22.6   89.0  139   64.8  61.0  2.00  4.1897  68   97
6   36    2  22.0   90.0  160   99.6  50.0  3.00  3.9512  82  138
7   66    2  26.2  114.0  255  185.0  56.0  4.55  4.2485  92   63
8   60    2  32.1   83.0  179  119.4  42.0  4.00  4.4773  94  110
9   29    1  30.0   85.0  180   93.4  43.0  4.00  5.3845  88  310

In [13]:
diabetes_df.query("BMI < 18")

Empty DataFrame
Columns: [AGE, SEX, BMI, BP, S1, S2, S3, S4, S5, S6, Y]
Index: []

In [15]:
diabetes_df.query("BMI < 19").count()

AGE    7
SEX    7
BMI    7
BP     7
S1     7
S2     7
S3     7
S4     7
S5     7
S6     7
Y      7
dtype: int64